{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [
        {
            "files": ["app/\\(apps\\)/luoye/**/*.tsx"],
            "options": {
                "printWidth": 120
            }
        }
    ]
}
