.pageView {
    --sidebar-width: 300px;

    position: relative;
    display: flex;
    min-height: 100%;
}

.pageView.noSidebar {
    --sidebar-width: 0;

    display: initial;
}

.sidebar {
    position: fixed;
    padding: 0 0 12px;
    width: var(--sidebar-width);
    height: 100%;
    border-right: 1px solid var(--ly-active-background);
    background: #fff8ed;
    user-select: none;
    transition: transform 0.3s;
    overflow: auto;
}

.sidebar h1 {
    font-size: 24px;
}

.sidebar h2 {
    display: flex;
    align-items: center;
    margin: 0 0 10px 12px;
    font-size: 18px;
}

.sidebar > h1,
.sidebar > h2 {
    padding: 0 12px;
}

.sidebarMask {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    z-index: 150;
}

.sidebarList {
    position: relative;
    margin: 0 0 12px;
    padding: 0 12px;
    list-style: none;
}

.sidebarListItem,
.sidebarList li {
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 4px;
    padding: 6px 12px;
    line-height: 1.65;
    cursor: pointer;
    font-variant: tabular-nums;
    font-feature-settings: 'tnum';
}

.sidebar h1,
.sidebar h2,
.sidebar h2 > span:first-of-type,
.sidebarListItem > span,
.sidebarList li > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebarListItemIcon {
    flex-shrink: 0;
    margin-right: 6px;
}

.contentView {
    --h-padding: 24px;
    --navbar-height: 0;
    position: relative;
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    min-height: 100%;
    background: #fffcf6;
}

.navbar {
    position: fixed;
    display: none;
    align-items: center;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    padding: 16px var(--h-padding);
    height: var(--navbar-height);
    border-bottom: 1px solid var(--ly-active-background);
    background: var(--ly-background);
    z-index: 100;
}

.content {
    position: relative;
    padding-top: var(--navbar-height);
}

.active {
    background: var(--ly-active-background);
}

@media screen and (max-width: 768px) {
    .pageView {
        --sidebar-width: 0;

        display: initial;
    }

    .sidebar {
        --sidebar-width: 300px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 200;
        transform: translateX(calc(-1 * var(--sidebar-width)));
    }

    :global(.unfold-sidebar) .sidebar {
        transform: translateX(0);
    }

    :global(.unfold-sidebar) .sidebarMask {
        display: block;
    }

    .contentView {
        --h-padding: 22px;
        margin-left: 0;
        width: 100%;
    }

    .contentView.showNav {
        --navbar-height: 72px;
    }

    .navbar {
        display: flex;
    }
}

@media (pointer: fine) {
    .sidebarList li:hover {
        background: var(--ly-active-background);
    }
}
