.listItemName {
    flex: 1;
    line-height: 1.65;
}

.listItemArtist {
    width: 40%;
    color: var(--primary);
}

.listItemDuration {
    width: 50px;
    color: var(--primary);
}

.listItemName,
.listItemArtist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listItemAction {
    flex-shrink: 0;
    padding: 0 12px;
    font-size: 16px;
    font-variant: tabular-nums;
    font-feature-settings: 'tnum';
    color: var(--error);
}

.listItemDuration,
.listItemAction {
    font-variant: tabular-nums;
    font-feature-settings: 'tnum';
}

@media screen and (max-width: 768px) {
    .listItemArtist {
        display: none;
    }
}
