.spacer {
    flex: 1;
}

.panel {
    position: fixed;
    top: -1px;
    left: 0;
    right: 0;
    bottom: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 0;
    color: #fff;
    overflow: hidden;
    transition: background 0.5s;
    opacity: 0;
}

.panel::before {
    content: '';
    position: absolute;
    top: 16px;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.5);
}

.panel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 100%
    );
    z-index: -1;
}

/* 封面 */

.cover {
    position: absolute;
    border-radius: 8px;
}

/* 歌曲信息 */

.info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1.2;
}

.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.songName {
    font-weight: 600;
}

.artist {
    color: rgba(255, 255, 255, 0.6);
}

.songName,
.artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 内容 */

.content {
    position: absolute;
}

/* 控制中心 */

.controlCenter {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.mainControl,
.durationControl,
.volumeControl {
    width: 100%;
}

.mainControl {
    --button-size: 64px;
    --secondary-button-size: calc(var(--button-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -12px;
    fill: #fff;
}

.mainControl .playButton {
    width: var(--button-size);
    height: var(--button-size);
}

.mainControl > button + button {
    margin-left: 14%;
}

.mainControl .prev,
.mainControl .next {
    width: var(--secondary-button-size);
    height: var(--secondary-button-size);
}
