.buttonGroup {
    display: flex;
    align-items: center;
}

.buttonGroup > * + * {
    margin-left: 12px;
}

.actionBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
}

.actionBtn > .icon {
    margin-left: -4px;
    margin-right: 6px;
}
