.chatButton {
    --h-margin: 16px;

    position: fixed;
    bottom: 28px;
    left: var(--h-margin);
    padding: 10px 16px;
    width: calc(var(--sidebar-width) - 2 * var(--h-margin));
    border: 1px solid var(--primary);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    color: var(--primary);
    background: var(--ly-background);
    box-shadow: 0 28px 10px 10px var(--ly-background);
    cursor: pointer;
    transition: transform 0.2s;
    user-select: none;
}

.chatButton:hover {
    background: var(--background);
}

.chatButton:active {
    transform: scale(0.98);
}

.placeholder {
    height: 60px;
}
