/* Material Icon */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v203/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD_dY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2)
        format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* 页面样式 */

.page {
    margin: 0 auto;
    padding: 36px 48px;
    max-width: 1000px;
}

.page h1 {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: bold;
}

.page h2 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.page > * {
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
    .page {
        padding: 20px;
    }
}
