.container {
    --lyrics-linear-gradient: linear-gradient(
        180deg,
        transparent,
        #000 40px,
        #000 50%,
        transparent
    );
    width: 100%;
    height: 100%;
    overflow: auto;
    mask-image: var(
        --lyrics-linear-gradient,
        linear-gradient(180deg, #000 0, rgba(0, 0, 0, 0) 100%)
    );

    /* 去除滚动条 */
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.article {
    padding: calc(40% - 80px) 0 400px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.article > p {
    margin-bottom: 0.8em;
    color: rgba(255, 255, 255, 0.3);
    filter: blur(1px);
    cursor: pointer;
}

.article > p.active {
    filter: none;
}

.article > p.active + p:not(.active) {
    filter: blur(1px);
}

.word {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
    );
    transition: background-image 1s;
}

.article > p.active > .word {
    --progress: -20%;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) var(--progress),
        rgba(255, 255, 255, 0.3) calc(var(--progress) + 20%)
    );
}

@media (min-width: 768px) {
    .article {
        font-size: 40px;
    }
}
