.container {
    --lyrics-linear-gradient: linear-gradient(
        180deg,
        transparent,
        #000 40px,
        #000 50%,
        transparent
    );
    width: 100%;
    height: 100%;
    overflow: auto;
    mask-image: var(
        --lyrics-linear-gradient,
        linear-gradient(180deg, #000 0, rgba(0, 0, 0, 0) 100%)
    );
}

.article {
    padding: 50px 36px 200px;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
}

.article p {
    margin-bottom: 24px;
}

.word {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) var(--progress),
        rgba(255, 255, 255, 0.3) calc(var(--progress) + 20%)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
