/* TODO: 颜色 */
.container {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    background: var(--background);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.songInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    overflow: hidden;
}

.songName {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.artist {
    font-size: 16px;
    color: var(--secondary);
}

.songName,
.artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
}

.buttonGroup > * + * {
    margin-left: 16px;
}

.playButton {
    width: 48px;
    height: 48px;
}

.previous,
.next {
    width: 40px;
    height: 40px;
}

.previous {
    transform: rotate(180deg);
}

.toggle {
    width: 32px;
    height: 28px;
    fill: var(--secondary);
}

.toggle.active {
    border-radius: 6px;
    background: var(--background);
    fill: var(--primary);
}

@media (max-width: 768px) {
    .buttonGroup {
        margin: 0 6px;
    }

    .buttonGroup > * + * {
        margin-left: 0;
    }

    .playButton {
        width: 40px;
        height: 40px;
    }

    .previous,
    .next,
    .shuffle,
    .modeSwitch {
        display: none;
    }
}
