.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform 0.3s;
    cursor: pointer;
    touch-action: none;
}

.scaleArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12px;
}

.control {
    --height: 8px;
    flex: 1;
    width: 100%;
    height: var(--height);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: height 0.3s;
}

.progress {
    width: var(--progress);
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
}

.progressSideIcon {
    flex-shrink: 0;
    margin: 0 8px;
    width: 18px;
    height: 12px;
    fill: rgba(255, 255, 255, 0.6);
}

.progressSideIcon:first-child {
    margin-left: -1px;
}

.progressSideIcon:last-child {
    margin-right: -1px;
}

.progressSideIcon > svg {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.container.active {
    transform: scale(1.08);
}

.container.active .control {
    --height: 16px;
}

.container.active .progressSideIcon {
    fill: #fff;
}

.container.active .progress {
    background: #fff;
}

.container.active .info {
    color: #fff;
}

@media (pointer: fine) {
    .container:hover {
        transform: scale(1.05);
    }

    .container:hover .control {
        --height: 12px;
    }

    .container:hover .progress {
        background: #fff;
    }

    .container:hover .progressSideIcon {
        fill: #fff;
    }

    .container:hover .info {
        color: #fff;
    }
}
