.label {
    flex: 1;
    color: var(--primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit {
    color: var(--primary);
}

.delete {
    color: var(--danger);
}

.edit,
.delete {
    flex-shrink: 0;
}
