.container {
    position: relative;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
}

.container.active {
    transform: scale(0.9);
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: opacity 0.5s;
}

.indicator.active {
    transition: opacity 0.1s;
    opacity: 0.1;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.icon > svg {
    width: 100%;
    height: 100%;
}

.hidden {
    transform: scale(0);
    opacity: 0;
}

@media (pointer: fine) {
    .container:hover {
        transform: scale(0.9);
    }

    .container:hover .indicator {
        opacity: 0.1;
    }

    .container:hover .icon:not(.hidden) {
        transform: scale(0.9);
    }
}
